body {
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../../fonts/Segoe/Regular.woff');
}
@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../../fonts/Segoe/Light.woff');
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../../fonts/Segoe/Bold.woff');
}
