.input-with-button {
    border-color: transparent;
    height: 45px;
}
input.input-with-button {
    width: 298px;
    background-color: $white-two;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}
button {
    cursor: pointer;
}
button.input-with-button {
    font-family: 'SegoeUI-Bold';
    width: 122px;
    border-radius: 0 8px 8px 0;
    background-color: $tomato;
    font-weight: bold;
    letter-spacing: 2.8px;
    text-align: center;
    color: $white-two;
}
@media screen and (max-width : 576px){
    .input-with-button {
        height: 55px;
    }
    input.input-with-button {
        width: 188px;
    }
    button.input-with-button {
        width: 92px;
    }
}