$white : #fefefe;
$white-two : #ffffff;
$white-87 : rgba(255, 255, 255, 0.87);
$sky-blue : #62a7ff;
$french-blue : #4359b6;
$french-blue-two : #3f50ad;
$dark-slate-blue : #132d4c;
$cool-grey : #9fa3a7;
$tomato : #f05638;